<% include header %> <% include navTopView %>
<div class="main__body">
  <div class="sidebar"><% include navBarLeftView %></div>
  <div class="feed"><% include navBarRight %></div>
</div>

<% include footer %>
